* {
  cursor: none;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #dfdfdf;
  background-color: #232323;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.menu__box {
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  top: -150vh;
  left: 0;
  background-color: #232323;
  z-index: 900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 87px;
}

.menu__box.active {
  top: 0;
}

.menu-btn-wrapper {
  width: 100%;
  position: fixed;
  padding: 15px 15px 0;
  z-index: 1000;
}

.menu-btn {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.menu-btn__burger, .menu-btn__burger::before, .menu-btn__burger::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 6px;
  background: #484848;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-btn__burger {
  top: calc(50% - 3px);
}

.menu-btn__burger::before {
  top: -11px;
}

.menu-btn__burger::after {
  top: 11px;
}

.menu-btn.active .menu-btn__burger {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-btn.active .menu-btn__burger::before, .menu-btn.active .menu-btn__burger::after {
  top: 0px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu-list {
  list-style: none;
}

.menu-list__item {
  margin: 30px;
  font-size: 3.125rem;
  color: #b1b1b1;
}

.menu-list__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.menu-list__link:hover {
  color: #dfdfdf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.main {
  padding-top: 60px;
}

.main__title {
  font-weight: 500;
  font-size: 1.87rem;
  line-height: 2rem;
  text-align: right;
}

.main__subtitle {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4rem;
  text-align: right;
  margin-bottom: 1.2rem;
}

.letters-animation {
  color: #484848;
}

.letters-animation-nomber-1 {
  -webkit-animation: letter-anim 3s linear 5s infinite;
          animation: letter-anim 3s linear 5s infinite;
}

.letters-animation-nomber-2 {
  -webkit-animation: letter-anim 2s linear 2s infinite;
          animation: letter-anim 2s linear 2s infinite;
}

.letters-animation-nomber-3 {
  -webkit-animation: letter-anim 1s linear 8s infinite;
          animation: letter-anim 1s linear 8s infinite;
}

.stack__title {
  display: block;
  margin-bottom: 130px;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  text-shadow: 8px 8px 2px #1a1a1a;
}

.stack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bugs-line {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  position: absolute;
  pointer-events: none;
}

.bugs-line-animation-number-1 {
  top: 15%;
  -webkit-animation: bug-anim 5s ease-in 3s infinite;
          animation: bug-anim 5s ease-in 3s infinite;
}

.bugs-line-animation-number-2 {
  top: 48%;
  -webkit-animation: bug-anim 3s linear 2s infinite;
          animation: bug-anim 3s linear 2s infinite;
}

.bugs-line-animation-number-3 {
  top: 80%;
  -webkit-animation: bug-anim 8s ease 5s infinite;
          animation: bug-anim 8s ease 5s infinite;
}

.bugs-line-animation-number-4 {
  top: 97%;
  -webkit-animation: bug-anim 1s ease-out 4s infinite;
          animation: bug-anim 1s ease-out 4s infinite;
}

/* @keyframes */
@-webkit-keyframes letter-anim {
  0% {
    color: #dfdfdf;
  }
  10% {
    color: #484848;
  }
  11% {
    color: #dfdfdf;
  }
  12% {
    color: #484848;
  }
  30% {
    color: #dfdfdf;
  }
  31% {
    color: #484848;
  }
  32% {
    color: #dfdfdf;
  }
  100% {
    color: #dfdfdf;
  }
}
@keyframes letter-anim {
  0% {
    color: #dfdfdf;
  }
  10% {
    color: #484848;
  }
  11% {
    color: #dfdfdf;
  }
  12% {
    color: #484848;
  }
  30% {
    color: #dfdfdf;
  }
  31% {
    color: #484848;
  }
  32% {
    color: #dfdfdf;
  }
  100% {
    color: #dfdfdf;
  }
}

@-webkit-keyframes bug-anim {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: #d7ffd7;
  }
  2% {
    background-color: transparent;
  }
  30% {
    background-color: transparent;
  }
  31% {
    background-color: #bbffbb;
  }
  32% {
    background-color: transparent;
  }
  82% {
    background-color: transparent;
  }
  83% {
    background-color: #d7ffd7;
  }
  84% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes bug-anim {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: #d7ffd7;
  }
  2% {
    background-color: transparent;
  }
  30% {
    background-color: transparent;
  }
  31% {
    background-color: #bbffbb;
  }
  32% {
    background-color: transparent;
  }
  82% {
    background-color: transparent;
  }
  83% {
    background-color: #d7ffd7;
  }
  84% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes cube-animation {
  0% {
    -webkit-transform: rotateY(22deg) rotateX(12deg);
            transform: rotateY(22deg) rotateX(12deg);
  }
  33% {
    -webkit-transform: rotateY(-727deg) rotateX(45deg);
            transform: rotateY(-727deg) rotateX(45deg);
  }
  66% {
    -webkit-transform: rotateY(-1455deg) rotateX(-45deg);
            transform: rotateY(-1455deg) rotateX(-45deg);
  }
  100% {
    -webkit-transform: rotateY(-2182deg) rotateX(12deg);
            transform: rotateY(-2182deg) rotateX(12deg);
  }
}

@keyframes cube-animation {
  0% {
    -webkit-transform: rotateY(22deg) rotateX(12deg);
            transform: rotateY(22deg) rotateX(12deg);
  }
  33% {
    -webkit-transform: rotateY(-727deg) rotateX(45deg);
            transform: rotateY(-727deg) rotateX(45deg);
  }
  66% {
    -webkit-transform: rotateY(-1455deg) rotateX(-45deg);
            transform: rotateY(-1455deg) rotateX(-45deg);
  }
  100% {
    -webkit-transform: rotateY(-2182deg) rotateX(12deg);
            transform: rotateY(-2182deg) rotateX(12deg);
  }
}

.cube-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.cube {
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(22deg) rotateX(12deg);
          transform: rotateY(22deg) rotateX(12deg);
  -webkit-animation: cube-animation 46s linear infinite;
          animation: cube-animation 46s linear infinite;
}

.side {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 2px solid #d4d4d4;
  font-size: 38px;
  text-align: center;
  line-height: 200px;
  background-color: rgba(17, 17, 17, 0.98);
  -webkit-box-shadow: 0 0 8px #d4d4d4;
          box-shadow: 0 0 8px #d4d4d4;
  -webkit-transform: rotateY(0deg) translateZ(110px);
          transform: rotateY(0deg) translateZ(110px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.side::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(17, 17, 17, 0.98);
  top: 0;
  left: 0;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.front {
  -webkit-transform: rotateY(0deg) translateZ(110px);
          transform: rotateY(0deg) translateZ(110px);
}

.front.active {
  -webkit-transform: translateZ(130px);
          transform: translateZ(130px);
}

.front:hover {
  -webkit-transform: translateZ(120px);
          transform: translateZ(120px);
}

.back {
  -webkit-transform: rotateY(180deg) translateZ(110px);
          transform: rotateY(180deg) translateZ(110px);
}

.back.active {
  -webkit-transform: rotateY(180deg) translateZ(130px);
          transform: rotateY(180deg) translateZ(130px);
}

.back:hover {
  -webkit-transform: rotateY(180deg) translateZ(120px);
          transform: rotateY(180deg) translateZ(120px);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(110px);
          transform: rotateY(90deg) translateZ(110px);
}

.right.active {
  -webkit-transform: rotateY(90deg) translateZ(130px);
          transform: rotateY(90deg) translateZ(130px);
}

.right:hover {
  -webkit-transform: rotateY(90deg) translateZ(120px);
          transform: rotateY(90deg) translateZ(120px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(110px);
          transform: rotateY(-90deg) translateZ(110px);
}

.left.active {
  -webkit-transform: rotateY(-90deg) translateZ(130px);
          transform: rotateY(-90deg) translateZ(130px);
}

.left:hover {
  -webkit-transform: rotateY(-90deg) translateZ(120px);
          transform: rotateY(-90deg) translateZ(120px);
}

.top {
  -webkit-transform: rotateX(90deg) translateZ(110px);
          transform: rotateX(90deg) translateZ(110px);
}

.top.active {
  -webkit-transform: rotateX(90deg) translateZ(130px);
          transform: rotateX(90deg) translateZ(130px);
}

.top:hover {
  -webkit-transform: rotateX(90deg) translateZ(120px);
          transform: rotateX(90deg) translateZ(120px);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(110px);
          transform: rotateX(-90deg) translateZ(110px);
}

.bottom.active {
  -webkit-transform: rotateX(-90deg) translateZ(130px);
          transform: rotateX(-90deg) translateZ(130px);
}

.bottom:hover {
  -webkit-transform: rotateX(-90deg) translateZ(120px);
          transform: rotateX(-90deg) translateZ(120px);
}

.buttons-wrapper {
  display: none;
}

.cube-buttons {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}

.cube-buttons__btn {
  width: 40px;
  height: 40px;
  border: 2px solid #d4d4d4;
  border-radius: 8px;
  background-color: transparent;
  margin: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 8px 3px white;
          box-shadow: 0 8px 3px white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cube-buttons__btn.active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 3px 3px white;
          box-shadow: 0 3px 3px white;
}

.cube-buttons__btn::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  border-top: 2px solid #d4d4d4;
  border-left: 2px solid #d4d4d4;
}

.arrow-up {
  margin: 5px 50px;
}

.arrow-up::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-left::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-down::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow-right::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.buttons-title {
  text-align: center;
}

.circle {
  display: none;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-radius: 50%;
  position: absolute;
}

.circle_smoll {
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.circle-1 {
  z-index: 1000;
  width: 30px;
  height: 30px;
  background-color: #e4e4e4;
  -webkit-box-shadow: inset 0px 0px 4px 3px silver;
          box-shadow: inset 0px 0px 4px 3px silver;
}

.circle-2 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: circleAnimLeft 3s linear infinite;
          animation: circleAnimLeft 3s linear infinite;
}

.circle-3 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: circleAnimRight 4s linear infinite;
          animation: circleAnimRight 4s linear infinite;
}

.circle-4 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: circleAnimLeft 5s linear infinite;
          animation: circleAnimLeft 5s linear infinite;
}

.circle-5 {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: circleAnimLeft 6s linear infinite;
          animation: circleAnimLeft 6s linear infinite;
}

.circle-6 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: circleAnimRight 2s linear infinite;
          animation: circleAnimRight 2s linear infinite;
}

.circle-7 {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation: circleAnimLeft 5s linear infinite;
          animation: circleAnimLeft 5s linear infinite;
}

.circle-8 {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-animation: circleAnimRight 4s linear infinite;
          animation: circleAnimRight 4s linear infinite;
}

.circle-9 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: circleAnimRight 3s linear infinite;
          animation: circleAnimRight 3s linear infinite;
}

@-webkit-keyframes circleAnimLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circleAnimLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes circleAnimRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes circleAnimRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */